# Should the view of your layout be scaled to 16:9 regardless of the window size? Great for development.
USE_DEVELOPER_SCALE=true

SPOTIFY_NOW_PLAYING_CLIENT_ID='spotify-client-id-from-spotify-dev-account'
TWITCH_CLIENT_ID='twitch-client-id-from-twitch-dev-account'

IBM_APIKEY="ibm_apikey"
IBM_IAM_APIKEY_DESCRIPTION="ibm_iam_apikey_description"
IBM_IAM_APIKEY_ID="ibm_iam_apikey_id"
IBM_IAM_APIKEY_NAME="ibm_iam_apikey_name"
IBM_IAM_ROLE_CRN="ibm_iam_role_crn"
IBM_IAM_SERVICEID_CRN="ibm_iam_serviceid_crn"
IBM_URL="ibm_url"
