body {
    font-family: Verdana;
    background-color: rgba(0, 0, 0, 0);
}

.aspect-container.dev {
    width: 100%;
    padding-bottom: 56.25%; /* 9 / 16 * 100 = 56.25 */
    position: relative;
}

.app-content.dev {
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
